.er-enhanced-hideui .field-label {
    display:none;
}
.er-enhanced-hideui .field-multiple-drag {
    display:none;
}
.er-enhanced-hideui .field-add-more-submit {
    display:none;
}
.er-enhanced-hideui .tabledrag-toggle-weight-wrapper {
    display:none;
}
.er-enhanced-hideui .er-enhanced-new {
    display:none;
}
.er-enhanced-hideui a.er-enhanced-remove {
    display:none;
}