.er-enhanced-hideui .field-multiple-drag {
    display:none;
}
.er-enhanced-hideui .field-add-more-submit {
    display:none;
}
.er-enhanced-hideui .tabledrag-toggle-weight-wrapper,
.er-enhanced-hideui .tabledrag-toggle-weight {
    display:none;
}
.er-enhanced-hideui .er-enhanced-new {
    display:none;
}
.er-enhanced-hideui a.er-enhanced-remove {
    display:none;
}
span.er-enhanced-edit {
    display:none;
}
span.er-enhanced-edit.er-enhanced-hideui {
    display:inline;
}
.er-enhanced-empty-message {
    display:none;
}
.er-enhanced-hideui .er-enhanced-empty-message {
    display:block;
}