/* Change mind at last moment, as new items not previewing */
.ahs-preview-hideui.form-group .ahs-preview-hide-edit-if-hideui div.form-item {
    display:none;
}
.ahs-preview-hide-edit-if-hideui .ahs-preview-preview {
    display:none;
}
.ahs-preview-hideui.form-group .ahs-preview-hide-edit-if-hideui .ahs-preview-preview {
    display:block;
}
/* Hide field item editing controls*/

.ahs-preview-hide-edit.form-group .ahs-preview-hide-edit div.form-item {
    display:none;
}

.ahs-preview-hide-edit.form-group .ahs-preview-hide-edit-if-hideui div.form-item {
    display:block;
}

/**/
.ahs-preview-hide-edit.form-group .ahs-preview-hide-edit-if-hideui .ahs-preview-preview,
.ahs-preview-hideui.ahs-preview-hide-edit.form-group .ahs-preview-hide-edit-if-hideui > div > div {
    display:none;
}
.ahs-preview-hideui.ahs-preview-hide-edit.form-group .ahs-preview-hide-edit-if-hideui .ahs-preview-preview {
    display:block;
}

/* Show/hide new field item controls*/
.ahs-preview-hide-new-requested table.field-multiple-table > tbody > tr:last-child > td .ahs-preview-hide-edit div.form-item {
    display:block;
}
.ahs-preview-hide-new table.field-multiple-table > tbody > tr:last-child td .ahs-preview-hide-edit div.form-item {
    display:none;
}
.ahs-preview-hide-new .field-add-more-submit {
    display:none;
}
table.field-multiple-table > tbody > tr:last-child > td a.ahs-preview-remove {
    display:none;
}

/* Show/hide whole new item row if not showing empty message*/
.ahs-preview-hide-new table.field-multiple-table > tbody > tr:last-child {
    display:none;
}
.ahs-preview-hide-new.ahs-preview-empty table.field-multiple-table > tbody > tr:last-child {
    display:block;
}


/* Show the empty message only when new items are hidden */
.ahs-preview-empty .ahs-preview-preview {
    display:none;
}
.ahs-preview-hide-new.ahs-preview-empty .ahs-preview-preview {
    display:block;
}

/* Hide controls for reordering field items*/
.ahs-preview-hide-move .field-multiple-drag {
    display:none;
}
.ahs-preview-hide-move .tabledrag-toggle-weight-wrapper,
.ahs-preview-hide-move .tabledrag-toggle-weight {
    display:none;
}


/* Hide controls for removing field items */
.ahs-preview-hide-remove a.ahs-preview-remove {
    display:none;
}

/* Style the Edit link that unhides UI elements */
.ahs-preview-hideui-requested {
    position:relative;
}
.btn.ahs-preview-edit {
    display:none;
    position:absolute;
    left:-45px;
    top:0px;
}
.ahs-preview-hideui .btn.ahs-preview-edit {
    display:inline;
}

.ahs-preview-hide-edit-if-hideui .ahs-preview-preview {
    float:none;
}

/* File widgets */
/*
.ahs-preview-hide-edit.field--widget-file-generic div.form-managed-file > * {
    display: none;
}
*/
.ahs-preview-hide-edit.field--widget-file-generic div.form-managed-file > input,
.ahs-preview-hide-edit.field--widget-file-generic div.form-managed-file > button {
    display: block;
}
.ahs-preview-hide-edit.field--widget-file-generic div.form-managed-file .ahs-preview-preview {
    display: block;
    float:none;
}
.ahs-preview-hideui.field--widget-file-generic div.form-type-textfield {
    display:none;
}
.ahs-preview-hide-ui.field--widget-file-generic td.checkbox {
    display:none;
}
.ahs-preview-hide-edit.field--widget-file-generic thead{
    display:none;
}
.ahs-preview-hide-remove.field--widget-file-generic td button.form-submit {
    display:none;
}
.ahs-preview-hide-move.field--widget-file-generic a.tabledrag-handle {
    display:none;
}
.ahs-preview-hide-new.field--widget-file-generic div.form-type-managed-file label.control-label {
    display:none;
}
.ahs-preview-hide-new.field--widget-file-generic div.form-type-managed-file {
    display:none;
}
.field--widget-file-generic p.ahs-preview-empty {
    display:none;
}
.ahs-preview-hideui.field--widget-file-generic p.ahs-preview-empty {
    display:block;
}